<div class='menu'>
	<div class='inner'>
		<ul class='menu-items'>
			<li *ngFor="let link of navLinks">
				<a class="section-toggle" [routerLink]="link.path" [routerLinkActive]="['active']" queryParamsHandling="preserve">
				  {{ link.label }}
				</a>
			</li>
		</ul>
    <div class="px-4 d-flex w-100 flex-column bottom" style="gap: .5rem;" >
		<button class="btn-custom text-light" *ngIf="authService.isAuthenticated()" (click)="toggleEdit()">Edit Mode</button>
		<button class="btn-custom text-light" (click)="toggleSignin()">{{!isloggedIn() ? 'login' : 'logout'}}</button>
    </div>
	</div>
</div>
