<div class='menu' >
        <div class='inner' >
            <ul class='menu-items' >
                
                <li>
                    <a class='section-toggle' [routerLink]="'/index'" [routerLinkActive]="['active']">
                        Home
                    </a>
                </li>
                
                <li>
                    <a class='section-toggle' [routerLink]="'/about'" [routerLinkActive]="['active']">
                        About
                    </a>
                </li>
                
                <li>
                    <a class='section-toggle' [routerLink]="'/resume'" [routerLinkActive]="['active']">
                        Resume
                    </a>
                </li>
                
                <li>
                    <a class='section-toggle' [routerLink]="'/portfolio'" [routerLinkActive]="['active']">
                        Portfolio
                    </a>
                </li>
                
                
                <li>
                    <a class='section-toggle' [routerLink]="'/contact'" [routerLinkActive]="['active']">
                        Contact
                    </a>
                </li>
                
                
            </ul>
        </div>
    </div>