<div class='section-block services-block'>
    <div class='container-fluid'>
        <div class='section-header'>
            <h2 class="h2" data-aos="fade-right">My
                <strong class='color'>Services</strong>
            </h2>
        </div>

        <div class='row' *ngIf="services && services.length>0;else noData">
            <div class='col-sm-6 col-lg-3 p-2' data-aos="flip-left" *ngFor='let service of services;let i = index'>
                <div class='service'>
                    <div>
                        <div class='icon'>
                            <i [class]='service.image'></i>
                        </div>
                        <div class='content'>
                            <h4 class="h4">
                                <b>{{service?.title}}</b>
                            </h4>
                            <p class="p">
                                {{service?.description}}
                            </p>
                        </div>
                    </div>
                    <div class="w-100 service-btn" *ngIf="isEditMode()">
                        <button type="button" class="btn-color m-1" (click)="moveUp(i)"><i class='fas fa-arrow-up'></i></button>
                        <button type="button" class="btn-color m-1" (click)="moveDown(i)"><i class='fas fa-arrow-down'></i></button>
                        <button type="button" class="btn-color m-1" (click)="removeService(i)"><i class='fas fa-times'></i></button>
                    </div>
                </div>
            </div>
            <div class='w-100 p-2' data-aos="flip-left" *ngIf="isEditMode()">
                <div class='m-auto col-md-6'>
                    <form #service="ngForm" (ngSubmit)="service.valid && onSubmit(service)" novalidate>
                        <div class="form-row">
                            <div class="form-group col-6">
                                <input type="text" class="form-control" name="image" placeholder="FA Class" ngModel
                                    required>
                            </div>
                            <div class="form-group col-6">
                                <input type="text" class="form-control" name="title" placeholder="Title" ngModel
                                    required>
                            </div>
                            <div class="form-group col-12">
                                <textarea class="form-control" name="description" rows="4" placeholder="Description"
                                    ngModel required></textarea>
                            </div>
                            <div class="form-group col-12 text-center">
                                <button type="submit" class="btn-color" [disabled]="!service.valid">add</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <ng-template #noData>
            <!-- *ngIf="services;else noData" -->
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h2 class="h2">
                            <a [routerLink]="['edit']" class='btn-custom btn-color' style="text-decoration: none;">
                                add Skills
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </ng-template>

    </div>
</div>