<div class='section-block skills-block'>
    <div class='container-fluid'>
        <div class='section-header'>
            <h2 class="h2" data-aos="fade-right">
                My
                <strong class='color'>Skills</strong>
            </h2>
        </div>

        <div class='row' *ngIf=" skills ; else noData">
            <div class='col-md-6' *ngFor='let skill of skills' data-aos="flip-left">
                <div class='skill'>
                    <h4 class="h4">{{ skill?.title }}</h4>
                    <div class='bar'>
                        <div class='percent' [style.width.%]='skill?.progress'></div>
                    </div>
                </div>
            </div>
        </div>
        
        <ng-template #noData>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h2 class="h2">
                            <a [routerLink]="['edit']" class='btn-custom btn-color' style="text-decoration: none;" >
                                add Skills
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>