input.ng-invalid.ng-touched,
textarea.ng-invalid.ng-touched{
    border: solid rgba(255, 0, 0, 0.466) 1px;
}
button:disabled{
    cursor: not-allowed;
}
.google-map{
    // max-width: 720px;
    padding-top: 40px;
    margin: 0 auto;
    iframe{
        margin: 0;
        padding-bottom: 0!important;
        background-color: grey;
    }
}