<div class='section-block pricing-block' >
	<div class="container-fluid">		
        <div class='section-header' data-aos="fade-right">
            <h2 class="h2">My <strong class='color' >Pricing</strong></h2>
        </div>
         
        <div class='row' *ngIf="pricing;else noData">    
            <div class='col-sm-6 col-lg-4 p-2' data-aos="flip-left" *ngFor='let price of pricing'>
                <div class='p-table' >                   
                    <div class='header' >                        
                        <h4 class="h4">{{price.title}}</h4>                        
                        <div class='price' >
                            <span class='currency' >$</span>
                            <span class='amount' >{{price.price}}</span>
                            <span class='period' >/HR</span>
                        </div>                        
                    </div>                    
                    <ul class='items' >
                        <li *ngFor='let service of price.services; let i = index'>
                            {{(i+1) + ' ' + service}}
                        </li>
                    </ul>                    
                    <a class='btn-custom btn-color' [style.cursor]='"pointer"' >
                        Choose This
                    </a>
                </div>
            </div>  
        </div>
        <ng-template #noData>
            <div class="row">
                <div class="col">
                    <div class="text-center">
                        <h2 class="h2">
                            <a [routerLink]="['edit']" class='btn-custom btn-color' style="text-decoration: none;" >
                                add pricing
                            </a>
                        </h2>
                    </div>
                </div>
            </div>
        </ng-template>
    </div>
</div>