<section class='section about-edit-section'>
    <div class='section-block about-edit-block'>
        <div class='container-fluid'>
            <div class='section-header'>
                <h2 class="h2">
                    <strong class='color'>Portfolio page</strong>
                </h2>
            </div>

            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <div class="row" formArrayName="project">
                    <h3 class="h3 w-100">Project Section</h3>
                    <div class="col-md-6 col-lg-4" *ngFor="let portfolio of form.get('project')['controls']; let i = 'index'" [formGroupName]='i'>
                        <div class="card">
                            <div class="form-row">
                                <div class="form-group col-12">
                                    <input type="text" formControlName="name" placeholder="Project's Name.." class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <input type="text" formControlName="title" placeholder="Project's Title.." class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <input type="file" class="form-control-file" (change)="upload($event,i)">
                                </div>
                                <div class="form-group col-12" *ngIf="form.value.project[i].image">
                                    <img [src]="form.value.project[i].image" alt="No image">
                                </div>
                                <div class="form-group col-12">
                                    <input type="text" formControlName="description" placeholder="Project's Description.." class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <input type="text" formControlName="link" placeholder="Project's Link.." class="form-control">
                                </div>
                                <div class="form-group col-12">
                                    <input type="text" formControlName="youtube" placeholder="Project's Source.." class="form-control">
                                </div>
                                <div formArrayName="group" class="col-12">
                                    <div class="form-group d-flex" *ngFor="let x of portfolio.get('group')['controls']; let y = index">
                                        <input type="text" [formControlName]="y" placeholder="Project's group.." class="form-control">
                                        <span class="close-icon" (click)="removeGroup(i,y)">
                                            <i class="fas fa-minus-circle"></i>
                                        </span>
                                    </div>
                                    <div class="form-group text-center">
                                        <p class="p" (click)="addGroup(i)" style="cursor: pointer;">add Group</p>
                                    </div>
                                </div>
                                <div class="col-12">
                                    <button type="button" class="card btn mx-auto" (click)="removeProjectGroup(i)">Delete This</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-12 text-center">
                            <div class="">
                                <button type="button" class="card btn d-inline-block" (click)="addPortfolioGroup()">Add Project</button>
                                <button type="submit" class="card btn d-inline-block" > submit</button>
                            </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>
