<section class='section about-edit-section'>
    <div class='section-block about-edit-block'>
        <div class='container-fluid'>
            <div class='section-header'>
                <h2 class="h2">
                    <strong class='color'>About Page Form</strong>
                </h2>
            </div>

            <form [formGroup]="form" (ngSubmit)="form.valid && onSubmit()" autocomplete="off">
                <div class='row'>
                    <div class='col-md-12'>
                        <div class="card">
                            <div class="form-row">
                                <h3 class="h3 w-100">About Section</h3>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" formControlName="name" placeholder="Your Name..">
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" formControlName="designation" placeholder="Your Designation.." required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" formControlName="position" placeholder="Your Position.." required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="date" class="form-control" formControlName="age" placeholder="Your age.." required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" formControlName="city" placeholder="Your city.." required>
                                </div>
                                <div class="form-group col-md-6">
                                    <input type="text" class="form-control" formControlName="country" placeholder="Your country.." required>
                                </div>
                                <div class="form-group col-12">
                                    <textarea class="form-control" rows="4" formControlName="description" placeholder="Your description.." required></textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" formArrayName="services">
                        <div class="card">
                            <div class="form-row">
                                <h3 class="h3 w-100">Service</h3>
                                <div class="col-md-6 col-lg-4" *ngFor="let service of form.get('services')['controls']; let i = 'index'" [formGroupName]='i'>
                                    <span class="close-card-icon" (click)="removeServicesGroup(i)">
                                        <i class="fas fa-times-circle"></i>
                                    </span>
                                    <div class="border">
                                        <div class="form-group">
                                            <input type="text" formControlName="image" placeholder="Icon link.." class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" formControlName="title" placeholder="title" class="form-control">
                                        </div>
                                        <div class="form-group">
                                            <input type="text" formControlName="description" placeholder="description" class="form-control">
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100">
                                    <div class="form-group">
                                        <button type="button" class="card btn mx-auto" (click)="addServicesGroup()">Add Service</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" formArrayName="pricing">
                        <div class="card">
                            <div class="form-row">
                                <h3 class="h3 w-100">Pricing</h3>
                                <div class="col-md-6 col-lg-4" *ngFor="let service of form.get('pricing')['controls']; let i = 'index'" [formGroupName]='i'>
                                    <span class="close-card-icon" (click)="removePricingGroup(i)">
                                        <i class="fas fa-times-circle"></i>
                                    </span>
                                    <div class="border">
                                        <div class="form-group d-flex">
                                            <div class="w-50">
                                                <input type="number" formControlName="price" placeholder="price/month" class="form-control" step="0.01">
                                            </div>
                                            <div class="w-50">
                                                <input type="text" formControlName="title" placeholder="title" class="form-control">
                                            </div>
                                        </div>
                                        <div formArrayName="services">
                                            <div class="form-group" style="display: flex;align-content:space-between;" *ngFor="let x of service.get('services')['controls']; let y = index">
                                                <input type="text" [formControlName]="y" placeholder="Service {{y+1}}" class="form-control">
                                                <span class="close-icon" (click)="removeServiceGroup(i,y)">
                                                    <i class="fas fa-minus-circle"></i>
                                                </span>
                                            </div>
                                            <div class="form-group text-center">
                                                <p class="p" (click)="addServiceGroup(i)" style="cursor: pointer;">add more</p>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100">
                                    <button type="button" class="card btn mx-auto" (click)="addPricingGroup()">Add Plan</button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-12" formArrayName="skills">
                        <div class="card">
                            <div class="form-row">
                                <h3 class="h3 w-100">Skills</h3>
                                <div class="col-md-6 col-lg-4" *ngFor="let service of form.get('skills')['controls']; let i = 'index'" [formGroupName]='i'>
                                    <div class="relative">
                                        <span class="close-card-icon" (click)="removeSkillsGroup(i)">
                                            <i class="fas fa-times-circle"></i>
                                        </span>
                                        <div class="border">

                                            <div class="w-100">
                                                <div class="form-group">
                                                    <input type="text" formControlName="title" placeholder="title" class="form-control">
                                                </div>
                                                <div class="form-group">
                                                    <input type="number" formControlName="progress" placeholder="progress" class="form-control" step="0.01">
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="w-100">
                                    <button type="button" class="card btn mx-auto" (click)="addSkillsGroup()">Add Skill</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group text-center">
                    <div class="m-2" style="display: inline-block;">
                        <button type="submit m-2" class="card btn" [disabled]="!form.valid">
                            submit
                        </button>
                    </div>
                    <div class="m-2" style="display: inline-block;">
                        <button type="button m-2" class="card btn" (click)="formReset()">
                            Reset
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>