<section class='d-flex align-items-center justify-content-center section section-main h-100 w-100' [style.background-image]="bgImageUrl"
 style="overflow: hidden;">
	<div class='inner w-100'>
		<div class='intro-text' *ngIf="user;else noData" data-aos="fade-in">
			<h1 class="h1" data-aos="flip-up">
				<span>Hey, I'm </span>
				<span *ngIf="!isEditMode();else nameField" class="highlight"> {{ user?.name }}.</span>
				<ng-template #nameField>
					<input *ngIf="isEditMode()" class="highlight-edit" type="text" [(ngModel)]="user.name" />
				</ng-template>
			</h1>
			<p *ngIf="!isEditMode();else bioField" class="p" data-aos="flip-down">{{user?.bio}}</p>
			<ng-template #bioField>
				<p>
					<input *ngIf="isEditMode()" class="p-edit" type="text" [(ngModel)]="user.bio" />
				</p>
			</ng-template>
			<div *ngIf="!isAuthenticated()" class='intro-btns'>
				<a [routerLink]="['/about']" data-aos="fade-right" class='btn-custom' style="text-decoration: none;">
					Discover More
				</a>
				<a [routerLink]="['/contact']" data-aos="fade-left" class='btn-custom' style="text-decoration: none;">
					Hire Me
				</a>
			</div>
			<div *ngIf="isAuthenticated()" class='intro-btns'>
				<a data-aos="fade-right" class='btn-custom' (click)="toggleEdit()" style="text-decoration: none;">
					Edit
				</a>
				<!-- <a class='btn-custom text-light' style="text-decoration: none;">Save</a> -->
				<a data-aos="fade-left" class='btn-custom' (click)="saveToServer()"  style="text-decoration: none;">
					Save
				</a>
			</div>
		</div>
		<ng-template #noData>
			<div class="intro-text ">
				<div class="row align-items-center">
					<div class="col">
						<div class="text-center text-light">
							<h2 class="h2">
								Unable to connect to server!
							</h2>
						</div>
					</div>
				</div>
			</div>
		</ng-template>
	</div>
</section>